<div class="container-fluid">
  <nav id="control_navbar" class="navbar navbar-default navbar-fixed-top" style="margin-top: 50px;" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse m-x-1">
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <label>Filter:</label>
          <input type="text" name="filterCode" class="form-control kdt-filter-input" placeholder="filter ...">
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>


  <div class="row" style="margin-top: 60px;">
    <div class="col-md-12">
      <div class="pull-left">
        <div class="kdt-table-info" role="status" aria-live="polite">
          <!-- 特にページングとかしてないので決め打ちで1にしてるが今後変わる可能性あり -->
          Showing 1 to {{inventories?.length}} of {{inventories?.length}} entries
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>名前</th>
            <th>SS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>LL</th>
            <th>3L</th>
            <th>4L</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventory of inventories">
            <td>{{ inventory.name }}</td>
            <td>{{ inventory.ss }}</td>
            <td>{{ inventory.s }}</td>
            <td>{{ inventory.m }}</td>
            <td>{{ inventory.l }}</td>
            <td>{{ inventory.ll }}</td>
            <td>{{ inventory.lll }}</td>
            <td>{{ inventory.llll }}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->

</div>
