<div class="jnd-center-box jnd-preload-screen"></div>

<div class="jnd-root {{headerClassName}}">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">JPNAP Dashboard 2</a>
      </div>
      <ul class="nav navbar-nav">
        <li [class.active]="home.isActive">
          <a [routerLink]="['/']" routerLinkActive #home="routerLinkActive" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jnd-container-root">
    <router-outlet></router-outlet>
  </div>
</div>
